<!-- Footer -->
<footer class="backer">
    <div class="container">
       <div class="row">
            <p class="copyright text-muted">
                Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} Theme on <a href="https://github.com/Donaldhan/Donaldhan.github.io">GitHub</a> |
                <iframe
                    style="margin-left: 2px; margin-bottom:-5px;"
                    frameborder="0" scrolling="0" width="100px" height="20px"
                    src="https://ghbtns.com/github-btn.html?user=Donaldhan&repo=Donaldhan.github.io&type=star&count=true">
                </iframe>
            </p>
        </div>
    </div>
</footer>
